.container {
    font-family: Arial, sans-serif;
    text-align: justify;
}

.display-4 {
    color: #007BFF;
}

.lead {
    font-size: 1.3em;
    line-height: 1.6;
}

.conteudo{
    text-align: justify;
}

p {
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

.lista {
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lista a {
    color: #333;
    font-size: 40px;
}

.lista a:hover {
    opacity: 60%;
    color:dimgray;
}

.lista li {
    margin-top: 20px;
    margin-bottom: 20px;
}