{% extends 'base.html'%}

{% block title%}
Página inicial
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>{{ mensagem }}</h1>
        </div>
    </div>
    <div class="mt-4">
        <p>É na região do Alto Oeste Potiguar, mais precisamente no Bairro Chico Cajá,
            que está localizado o Campus Pau dos Ferros do Instituto Federal do Rio Grande do Norte (IFRN). A unidade,
            fundada em 23 de setembro de 2009, compõe a II Fase do Plano de Expansão da Rede Federal de Educação
            Profissional,
            Científica e Tecnológica (RFEPCT), do Ministério da Educação, iniciada em 2007.
        </p>

        <p>Com capacidade para 1.200 estudantes, a escola oferta cursos técnicos integrados ao
            Ensino Médio nas áreas de Alimentos, de Apicultura e de Informática. Há também a oferta de graduações,
            como a Licenciatura em Química e as Tecnologias em Análise e Desenvolvimento de Sistemas e em Agroindústria.
            Há, ainda,
            a Especialização em Ensino de Ciências Naturais e Matemática.
        </p>

        <p>A agricultura de Pau dos Ferros é, sobretudo, de subsistência, ou seja, produzir para consumir, com destaque
            para o cultivo de feijão, de batata-doce e de milho. Assim, os cursos ofertados pela instituição colaboram
            com o
            desenvolvimento social e econômico do município, cuja principal fonte de renda é o comércio varejista.
        </p>

        <p>O Campus Pau dos Ferros possui, proporcionalmente, a maior produção científica de artigos, livros etc. Outra
            curiosidade é que a escola, assim como a unidade Natal - Central, produz sua própria alimentação. O Campus
            do
            IFRN em Pau dos Ferros possui, ainda, a Incubadora Tecnológica do Alto Oeste (Itao), fundada em 2021, que
            promove ações, como palestras, oficinas, capacitações, concursos de ideias extensivo à comunidade externa,
            entre
            outras, instigando, assim. o processo de inovação e empreendedorismo na região.
        </p>
    </div>
    <div>
        <ul class="lista">
            <li>
                <a href="{% url 'lista-postagens' %}">Cursos</a>
            </li>
        </ul>
    </div>
</div>



{% endblock %}