{% extends 'base.html'%}

{% block title%}
Informática
{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
  {% for objeto in lista_postagens %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="{{  objeto.imagem.url  }}" alt="Imagem do post">
        <div class="card-body">
          <h5 class="card-title">{{ objeto.titulo }}</h5>
          <p class="card-text">{{ objeto.texto }}</p>
          <!-- | truncatechars:100  -->
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <small class="text-muted">{{ objeto.data_criacao }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}